@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

* {
    font-family: 'Barlow Semi Condensed', sans-serif;

    background-color: hsl(210, 46%, 95%);
    font-size: 13px;

    margin: 0 auto;
    box-sizing: border-box;
}

:root {
    --Light-gray: hsl(0, 1%, 65%);
    --text-color-darkbg:  hsl(0, 2%, 91%);
    --text-color-lightbg: rgb(116, 113, 113);
}

body {

    max-width: 85%;
    align-items: center;
    justify-content: stretch
}

.main {

    display: grid;

    padding: 50px;

    height: max-content;
    grid-gap: 20px;
    margin: 50px;
    justify-content: space-around;
    grid-auto-rows: minmax(50px, auto);


}

.testimonial {
    /* display: grid;
    grid-template-rows: auto;
    grid-auto-rows:  minmax(50px,auto);
    justify-content: space-between; */


    border-radius: 8px;
    padding: 14px;
    box-shadow: 5px 5px 10px rgb(216, 215, 215);
    align-content: center;


}

.thumbnail {
    display: grid;
    grid-template-columns: 20% 20%;
    width: 100%;
    justify-content: stretch;
    margin-bottom: 10px;
    grid-gap: 5px;
    background-color: transparent;

}

.thumbnail>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;

}

.thumbnail>div>strong {
    background-color: transparent;
    font-size: 9px;

}

.thumbnail>div>span {
    background-color: transparent;
    font-size: 9px;
    /* font-weight: lighter; */
    color: var(--Light-gray);
}

.thumbnail>img {

    height: 30px;
    width: 30px;
    border-radius: 50%;


}

.testimonial>p {
    padding-bottom: 10px;
    align-self: center;
    justify-self: center;
    background-color: transparent;
}

.testimonial>p>strong {
    font-size: 13px;
    background-color: transparent;

}

.testimonial>small {

    justify-content: center;
    align-content: center;
    font-size: 10px;
    background-color: transparent;
    color: var(--Light-gray);
    /* margin-bottom: 5px; */

}

/* .userid{
    padding: 0;
    justify-self: start;
} */
.card1 {
    grid-row: 1/2;
    grid-column: 1/4;
    background-color: hsl(263, 55%, 52%);
    color:var(--text-color-darkbg);

}

.card2 {
    grid-column: 4/5;
    grid-row: 1/2;
    background-color: hsl(217, 19%, 35%);
    color: var(--text-color-darkbg);
}

.card3 {
    grid-column: 5/auto;
    grid-row: 1/3;
    background-color: hsl(0, 0%, 100%);
    color: var(--text-color-lightbg);
}

.card4 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: hsl(0, 0%, 100%);
    color: var(--text-color-lightbg);

}

.card5 {
    grid-row: 2/3;
    grid-column: 2/5;
    background-color: hsl(219, 29%, 14%);
    color: var(--text-color-darkbg);
    ;
}
